*.log
*.iml
*.ipr
*.iws
target/
/var
/*/var/
/presto-product-tests/**/var/
pom.xml.versionsBackup
test-output/
test-reports/
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
.*.swp
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
benchmark_outputs
*.pyc
*.class
.checkstyle
.mvn/timing.properties
node_modules
*.log
presto-gateway-main/*.log
presto-gateway-main/gateway.log
postgres-client.sh
build.sh
presto-gateway-main/src/main/resources/gatewaywebapp
presto-gateway-main/src/main/ngapp/node/
