
<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-th-large"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Active Clusters</h5>
                            <h2 class="mt5">{{list.length}}</h2>
                        </div><!-- media-body -->                        
                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-dark noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon">
                            <img src="assets/images/drivers.png" width="40" style="margin: 10px 0 0 10px;" />
                        </div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Runnable Drivers</h5>
                            <h2 class="mt5">{{stats?.runningDrivers}}</h2>
                        </div><!-- media-body -->                  

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-darkest noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-database"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Reserved Memory (MB)</h5>
                            <h2 class="mt5">{{stats?.reservedMemory | filesize}}</h2>
                        </div><!-- media-body -->

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-dark noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon">
                            <img src="assets/images/query.png" width="40" style="margin: 10px 0 0 10px;" />
                        </div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Running Queries</h5>
                            <h2 class="mt5">{{stats?.runningQueries}}</h2>
                        </div><!-- media-body -->

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-darkest noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon">
                            <img src="assets/images/queue.png" width="40" style="margin: 10px 0 0 10px;" />
                        </div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Queued Queries</h5>
                            <h2 class="mt5">{{stats?.queuedQueries}}</h2>
                        </div><!-- media-body -->

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-stop-circle-o"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Blocked Queries</h5>
                            <h2 class="mt5">{{stats?.blockedQueries}}</h2>
                        </div><!-- media-body -->

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div>
       <div class="row">
                        <div class="col-md-12">
                          <div class="panel panel-default panel-table">
                            <div class="panel-heading panel-heading-no-divider">Queries</div>
                            <div class="row mb-1 panel-heading-divider">
                              <div class="col-md-8">
                                <input
                                  #search
                                  id="search"
                                  type="text"
                                  class="form-control"
                                  placeholder="Search User, source, query ID, query state, resource group, or query text"
                                  aria-label="Search"
                                  aria-describedby="basic-addon1"
                                />
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <select id="form-control-9"  #mySelect (change)='updateFilter(mySelect.value)' class="form-control">
                                    <option value="">Filter</option>
                                    <option value="FINISHED">FINISHED</option>
                                    <option value="RUNNING">RUNNING</option>
                                    <option value="QUEUED">QUEUED</option>
                                    <option value="FAILED">FAILED</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-2" hidden>
                                <div class="form-group">
                                  <select id="form-control-9"  #mySortSelect (change)='sortData(mySortSelect.value)' class="form-control">
                                    <option value="">Sort</option>
                                    <option value="elapsedTime">Elapsed Time</option>
                                    <option value="totalCpuTime">CPU Time</option>
                                    <option value="executionTime">Execution Time</option>
                                    <option value="totalMemoryReservation">Current Memory</option>
                                    <option value="cumulativeUserMemory">Cumulative User Memory</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive">
                              <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50"
                                [footerHeight]="40" [rowHeight]="'auto'" [rows]="queryList" [columnMode]="'force'" [limit]="10"
                                [loadingIndicator]="loadingIndicator" (sort)="sortData($event)" [columns]="columns"
                                [sorts]="[{prop: 'captureTime', dir: 'desc'}]">
                                <!-- Row Detail Template -->
                                <ngx-datatable-row-detail [rowHeight]="130" #myDetailRow (toggle)="onDetailToggle($event)">
                                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                    <div class="row m-0">
                                      <div class="col-md-6 pl-0 pt-2">
                                        <div class="row m-0 mb-2">
                                          <div class="col-md-4">
                                            <span tooltip="User" placement="right" container="body"><i
                                                class="fa fa-user"></i>{{row?.user}}</span>
                                          </div>
                                          <div class="col-md-4">
                                            <span tooltip="Source" placement="right" container="body"><i
                                                class="fa fa-sign-in"></i>{{row?.source}}</span>
                                          </div>
                                          <div class="col-md-4" *ngIf="row?.basicQueryInfo!=null && row?.basicQueryInfo!=undefined"><span tooltip="Resource Group" placement="right" container="body"><i class="fa fa-road"
                                              ></i>{{getResourceGroup(row?.basicQueryInfo?.resourceGroupId)}}</span>
                                          </div>
                                        </div>
                                        <div *ngIf="row?.basicQueryInfo!=null && row?.basicQueryInfo!=undefined">
                                          <span class="badge badge-light ml-2 mb-2">Stats : </span>
                                          <div class="row m-0 mb-1">
                                            <div class="col-md-4"><span tooltip="Wall time spent executing the query (not including queued time)" placement="right" container="body"><i class="fa fa-hourglass-start"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.executionTime}}</span>
                                              </div>
                                            <div class="col-md-4"><span tooltip="Total query wall time" placement="right" container="body"><i class="fa fa-clock-o"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.elapsedTime}}</span></div>
                                            <div class="col-md-4"><span tooltip="Wall time spent executing the query (not including queued time)" placement="right" container="body"><i class="fa fa-tachometer"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.totalCpuTime}}</span></div>
                                          </div>
                                          <div class="row m-0 mb-1">
                                            <div class="col-md-4"><span tooltip="Completed splits" placement="right" container="body"><i class="fa fa-check-square"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.totalDrivers}}</span>
                                              </div>
                                            <div class="col-md-4"><span tooltip="Running splits" placement="right" container="body"><i class="fa fa-play"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.runningDrivers}}</span></div>
                                            <div class="col-md-4"><span tooltip="Queued splits" placement="right" container="body"><i class="fa fa-pause"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.queuedDrivers}}</span></div>
                                          </div>
                                          <div class="row m-0 mb-2">
                                            <div class="col-md-4"><span tooltip="Current total reserved memory" placement="right" container="body"><i class="fa fa-window-restore"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.totalMemoryReservation}}</span></div>
                                            <div class="col-md-4"><span tooltip="Peak total memory" placement="right" container="body"><i class="fa fa-fire"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.peakTotalMemoryReservation}}</span></div>
                                            <div class="col-md-4"><span tooltip="Cumulative user memory" placement="right" container="body"><i class="fa fa-align-center"
                                                ></i>{{row?.basicQueryInfo?.queryStats?.cumulativeUserMemory}}</span></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6 pl-0 pt-1">
                                        <textarea highlight-js [lang]="'sql'" [ngModel]="row?.queryText"></textarea>
                                      </div>
                                    </div>
                                  </ng-template>
                                </ngx-datatable-row-detail>
              
                                <ngx-datatable-column name="Query" prop="queryText">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                    <span class="d-block p-2">
                                        <a href="{{row?.clusterUrl}}/ui/query.html?{{row?.queryId}}" target="_blank">{{row?.queryText | slice:0:40}}</a></span>              
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Cluster" prop="clusterUrl" [width]="80">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                    <div class="p-2 mb-0">{{getClusterUrl(row?.clusterUrl)}}</div>
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Query Id" prop="queryId" [width]="200">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                    <div class="p-2 mb-0">{{row?.queryId}}</div>
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Creation Time" prop="captureTime" [width]="140">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                    <div class="p-2 mb-0">{{row?.captureTime | date:'MMM d, y, h:mm:ss a'}}</div>
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="State" prop="basicQueryInfo.state" [width]="90">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                    <div [ngClass]="(row?.basicQueryInfo?.state=='FAILED' ? 'badge-danger' : 
                                          (row?.basicQueryInfo?.state=='RUNNING' || (row?.basicQueryInfo==null && row?.basicQueryInfo==undefined) ? 'badge-warning' :
                                          (row?.basicQueryInfo?.state=='QUEUED' ? 'badge-Primary' :'badge-success')))"
                                      class="mt-2 p-2 mb-0 badge">{{(row?.basicQueryInfo!=null && row?.basicQueryInfo!=undefined ? row?.basicQueryInfo?.state : 'QUEUED / RUNNING')}}</div>
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="View" [width]="80" [resizeable]="false" [sortable]="false" [draggable]="false"
                                  [canAutoResize]="false" [frozenRight]="true">
                                  <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded"
                                    ngx-datatable-cell-template>
                                    <a *ngIf="isCheck" href="javascript:void(0)" class="pull-left" style="margin-top: 8px;" [class.datatable-icon-right]="!expanded"
                                      [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                      (click)="toggleExpandRow(row)">View Stats
                                    </a>
                                  </ng-template>
                                </ngx-datatable-column>
                              </ngx-datatable>
                            </div>
                          </div>
                        </div>
              
       </div>
                   
