<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form name="form" [formGroup]="AddClusterForm" (ngSubmit)="onConfirm()" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="form-control-1">Name *</label>
                        <input id="form-control-1" class="form-control" type="text" name="name" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="form-control-1">Cluster URL *</label>
                        <input id="form-control-1" class="form-control" type="text" name="clusterUrl" formControlName="clusterUrl"
                        [ngClass]="{ 'is-invalid': submitted && f.clusterUrl.errors }">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="form-control-1">Location *</label>
                        <input id="form-control-1" class="form-control" type="text" name="location" formControlName="location"
                        [ngClass]="{ 'is-invalid': submitted && f.clusterUrl.errors }">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="form-control-1">Account User</label>
                        <input id="form-control-1" class="form-control" type="adminName" name="adminName" formControlName="adminName">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="form-control-1">Account Password</label>
                        <input id="form-control-1" class="form-control" type="password" name="password" formControlName="adminPassword">
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-success mr-2">Add Cluster</button>
                    <a (click)="onCancel()" class="btn btn-danger">Cancel</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>